<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>HTML 편집기에 왼쪽상단에 브라우저 아이콘은 서버가 구동되는 것은 아니고,
       단지, 브라우저에 HTML의 내용만 출력하는 기능(디자인 확인 가능, 서버구현 확인 불가능)</p>
    <p>브라우저에서 http://localhost:8080/ex1으로 요청했을 때 보이는 페이지</p>
    <form action="/ex2" method="post">
        <button type="submit">ex2요청</button>
    </form>
    <p>매핑지정시 /포함이 반드시 되어야 한다</p>
    <p> 예) action="ex2" 지정시 http://localhost:8080ex2</p>
    <p> 예) action="/ex2" 지정시 http://localhost:8080/ex2</p>

</body>
</html>